<div *ngIf="!loaded"><i class="fa fa-spinner"></i></div>

<div class="card" *ngFor="let log of logs; index as i">
  <div class="card-body">
    <div class="row" (click)="updateLog(log)">
      <div class="col-8">
        <a href="#">{{ log.logText }}</a>        
      </div>
      <div class="col-2">
        {{ log.updated | date }} 
      </div>
      <div class="col-2">
        <button (click)="onRemove(i)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> 
      </div> 
    </div> 
  </div>
</div>
